<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>contact.js"></script>
<div id="contact">  
<section id="home" class="head-main-img">
         
               <div class="container">
           <div class="row text-center pad-row" >
            <div class="col-md-12">
              <h1>  OUR CONTACT DETAILS  </h1>
                </div>
               </div>
            </div>   
           
       </section>
    <!--/.HEADING END-->

<section  id="contact-sec">
       <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.9865585904113!2d-0.6068091841623762!3d38.80986127958428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6178064764c1b5%3A0x9f954e630d0d8e02!2sIES+l&#39;Estaci%C3%B3!5e0!3m2!1ses!2ses!4v1473849710980"></iframe>
  <div class="add">
 <i>Address: </i>IES l'Estació, Polígono Urbano Nº 2, 46870 Ontinyent (Valencia)
   </div>
    <hr/>
</section>

<div>
  <input id="cinput" placeholder="Your email"></input>
  <button id="cbutton">Send email</button>
</div>

</div>