﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;

}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
i.fa {
    padding:5px;
}
section {
    padding-top:50px;
}

p {
    font-weight:300;
    line-height:30px;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:50px;
}


/* PRODUCTS ERRORS  */
/****users*/
.error{
    background-color: #BC1010;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -16px;
    position:  absolute;
    top: 5px;
}

.error1{
    background-color: #BC1010;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error1:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -16px;
    position:  absolute;
    top: 5px;

}

.msg{
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}
.msg_ok{
    background: #589D05;
}
.msg_error{
    background: red;
}

input[type="file"] {
    display: none;
}

/*****************PRODUCTS****************/
.prod {
    display:inline-block;
    margin: 8px;
    margin-bottom: 5px;
    width: 350px;
    height: 350px;
    text-align: left;
}

.prod p {
    display: inline-block;
    font-weight: bold;
    color:black;
}

#p2{
    float:right;
    font-size:  18pt;
    margin-right: 30px;
    color:red;
}


.prod:hover {
    border:1px solid gray;
}

.prodImg {
    display:block;
    width: 100%;
    height: 70%;
}

.ui-state-default .ui-icon {
        background-image: url("ui-icons_888888_256x240.png");
}

.ui-icon-closethick{
 margin-top: -8px!important;
margin-left: -8px!important;
}

#details {
    display: table;
    width: 100%;
    border:1px solid black;
    border-radius: 9px;
    background-color: #f5f1e6;
    text-align: center;
}


#details img {
    display: table-cell;
    width: 100px;
    height: 100px;
}
#container {
    display: table-cell;
    width: 350px;
    height: 350px;
    vertical-align: top;
}

/**BREADCRUMB*/
#list_prod ol li {
    font-size: 30pt;
    font-weight: bold;
}

#details_prod ol li {
    font-size: 30pt;
    font-weight: bold;
}


#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }

.custom-file-upload {
    background: #ddd;
    border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 12px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
}

/* NAVBAR STYLE */


.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}


/* ADDED PADDING IN NAVBAR */


.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/


.navbar-pad-original {
      padding:0px;
}



/* CARUOSEL STYLE OR SLIDESHOW STYLE*/


.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
/*NOTE SECION STYLE*/
.note-sec {
padding-bottom:50px;
background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
min-height:300px;
color:#fff;
}

/*HEADINGS IMAGE STYLE*/


.head-main-img {
padding-bottom:50px;
background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
min-height:300px;
color:#fff;
}
    .head-main-img h1 {
        padding: 50px 2px 2px 10px;
        text-transform:uppercase;
    }


 /* PRICING STYLE */


 .plan {
  padding: 0 0 15px 0;
  margin: 30px 0px;
  list-style: none;
  text-align: center;
}

.plan li {
padding: 15px 0px;
font-size: 16px;
border-bottom: 1px dotted #e1e1e1;
}

.price {
    font-size:45px!important;
}

small {
    font-size:15px;
    padding-left:10px;
}

.plan li i {
    padding-right:10px;
}
.price-two {
    font-size:30px!important;
    padding: 15px 0px;
    background-color: rgba(162, 188, 253, 1);
    color: #fff;
    border: none;
    font-weight: 900;
}

.adjust-border-radius {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.adjust-border {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/*    PORTFOLIO STYLES*/

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;

}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
padding: 30px 0 30px 0;
background-color: #000;
color: #fff;
font-size: 20px;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(177, 166, 255, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*CONTACT STYLES*/


.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
    font-size:20px;
    font-weight:800;
    padding:30px;
}
#contact-sec {
  padding-top:0px;
}


/* FOOTER STYLE*/


#footer-sec {
    background-color:#000;
    color:#808080;
    float: left;
    width: 100%;
}
    #footer-sec h4 {
        text-transform:uppercase;
        color:#fff;
    }

/*------------HOME------------*/
#home {
    padding-top: 10px;
}

#haentry {
  margin-bottom: 70px;
  margin-top: 80px;
}

#entry {
  background:#dbdddb;
  width: 200px;
  padding: 2px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:600;
  color:#000000;
  line-height: 1;
  border: 2px solid blue;;
  border-radius: 10px;
  border-color: #000000;
  height: 25px;
  -webkit-appearance: none;
}

#hbutton {
  background:#dbdddb;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:600;
  color:#000000;
  line-height: 1;
  border: 2px solid blue;;
  border-radius: 10px;
  border-color: #000000;
  height: 25px;
  -webkit-appearance: none;
}

#homebody {
  text-align: center;
}

#hcategory {
  clear: left;
  padding-left: 100px;
  width: 80%;
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
}

#hcategory p {
  padding-top: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: oblique;
}

.hcat{
  width: 42%;
  background-color: #b2b0b0;
  border-radius:15px;
  padding: 10px;
  margin: 5px;
  float: left;
  padding-bottom: 140px;
  max-height: 30px;
}

.hcat:hover {
  width: 42%;
  background-color: #a3a3a3;
  border-radius:15px;
  padding: 10px;
  margin: 5px;
  float: left;
  padding-bottom: 140px;
  max-height: 30px;
}
#hlmbutton {
  cursor: pointer;
  color: #fff;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  z-index: 1;
  background: #454545;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/*----------LIST----------*/
#hlbody {
  text-align: center;
} 

#hlaentry {
  margin-bottom: 70px;
  margin-top: 80px;
}

#lentry {
  background:#dbdddb;
  width: 200px;
  padding: 2px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:600;
  color:#000000;
  line-height: 1;
  border: 2px solid blue;;
  border-radius: 10px;
  border-color: #000000;
  height: 25px;
  -webkit-appearance: none;
}

#hlbutton {
  background:#dbdddb;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:600;
  color:#000000;
  line-height: 1;
  border: 2px solid blue;;
  border-radius: 10px;
  border-color: #000000;
  height: 25px;
  -webkit-appearance: none;
}

#hlresults {
  clear: left;
  padding-left: 100px;
  width: 80%;
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
}

#hlresults p {
  padding-top: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-style: oblique;
}

#hlresults h3 {
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-weight: bold;
}

.hlres {
  width: 20%;
  background-color: #b2b0b0;
  border-radius:15px;
  padding: 10px;
  margin: 5px;
  float: left;
  padding-bottom: 140px;
  max-height: 30px;
}

.hlres:hover {
  width: 20%;
  background-color: #a3a3a3;
  border-radius:15px;
  padding: 10px;
  margin: 5px;
  float: left;
  padding-bottom: 140px;
  max-height: 30px;
}

#map {
  width:100%;
  height:700px;
}

#maps {
  margin-bottom: 30px;
}

/*----------CONTACT----------*/
#contact {
  text-align: center;
}

#cinput {
  background:#dbdddb;
  width: 200px;
  padding: 2px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:600;
  color:#000000;
  line-height: 1;
  border: 2px solid blue;;
  border-radius: 10px;
  border-color: #000000;
  height: 25px;
  -webkit-appearance: none;
  margin-bottom: 80px;
}

#cbutton {
  background:#dbdddb;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:600;
  color:#000000;
  line-height: 1;
  border: 2px solid blue;;
  border-radius: 10px;
  border-color: #000000;
  height: 25px;
  -webkit-appearance: none;
}


/*------------LOGIN------------*/
#lhome {
  margin-top: 150px;
}

#login {
  bottom:0px;
  background-color:#d6d6d6;
  width:50%;
  text-align:center;
  margin: auto;
  border-radius:15px;
  padding-bottom: 3em;
  margin-bottom: 3em;
  padding-top: 10px;
}

#login table {
  bottom:0px;
  width:100%;
  padding-top:0px;
  text-align:center;
}

#register {
  bottom:0px;
  background-color:#d6d6d6;
  width:50%;
  text-align:center;
  margin: auto;
  border-radius:15px;
  padding-bottom: 4em;
  margin-bottom: 3em;
  padding-top: 10px;
}

#register table {
  bottom:0px;
  width:100%;
  padding-top:0px;
  margin-bottom: 30px;
  text-align:center;
}

#recoverbody {
  bottom:0px;
  background-color:#d6d6d6;
  width:50%;
  padding-top:0px;
  text-align:center;
  margin: auto;
  border-radius:15px;
  padding-bottom: 2em;
  margin-bottom: 3em;
}

#recoverbody table {
  bottom:0px;
  width:100%;
  padding-top:0px;
  text-align:center;
}

#menuser {
  background-color:#d6d6d6;
  text-align: right;
}


.Button_gray_login {
  background-color:#c6c6c6;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #c6c6c6;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}
.Button_gray_login:hover {
  background-color:gray;
}
.Button_gray_login:active {
  position:relative;
  top:1px;
}


.Button_gray_register {
  background-color:#c6c6c6;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #c6c6c6;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-top: 10px;
}
.Button_gray_register:hover {
  background-color:gray;
}
.Button_gray_register:active {
  position:relative;
  top:1px;
}

#loginb {
  margin-left: 137px;
}

#lrecover {
    clear: left;
    margin-left: 240px;
    margin-bottom: 20px;
}

.trpassw{
  visibility: hidden;
}

.social {
  clear:both;
  margin-top: 30px;
  font-size: 144%;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-top: 62px;
}

.social span {
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-top: 62px;
}

#mloutbutton {
  cursor: pointer;
}

#glogin{
  cursor: pointer;
}

#twlogin{
  cursor: pointer;
}

#fblogin{
  cursor: pointer;
}