<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<!--End of dropzone scripts-->
<script type="text/javascript" src="<?php echo PRODUCTS_JS_PATH ?>controller_products.js"></script>
<br>
<br>
<br>
<br>
<br>
<p><h2>Input a new entry:</h2></p>
 <div class="status alert alert-success" style="display: none"></div>
<form name="formproduct" id="formproduct">
    <br>
    <table>
        <tr>
           <td>Name: </td>
           <td id="error_prodname"><input type="text" name="prodname" id="prodname" required="required" placeholder="Product name"
             value=""/>
             <div></div>
           </td>
        </tr>
        <tr>
           <td>Reference: </td>
           <td id="error_prodref"><input type="text" name="prodref" id="prodref" required="required" placeholder="Reference"
            value=""/>
            <div ></div>
           </td>

        </tr>
        <tr>
           <td>Price: </td>
           <td id="error_prodprice"><input type="text" name="prodprice" id="prodprice" required="required" placeholder="Price"
            value=""/>
            <div ></div>
          </td>
        </tr>
        <tr>
		   <td>Reception date: </td>
		   <td id="error_date_reception"><input type="text" name="date_reception" id="date_reception" placeholder="Reception date" readonly="readonly"
         value=""/>
         <div ></div>
       </td>
		</tr>
		<tr>
		   <td>Expiration date: </td>
		   <td id="error_date_expiration"><input type="text" name="date_expiration" id="date_expiration" placeholder="Expiration date" readonly="readonly"
         value=""/>
         <div ></div>
       </td>

		</tr>
		<tr>
      <div class="form-group">
           <td>Category: </td>
           <td id="error_category">
              1 <input type="checkbox" id="category[]" name="category[]" class="catCheckbox" value="cat1">
		          2 <input type="checkbox" id="category[]" name="category[]" class="catCheckbox" value="cat2">
			        3 <input type="checkbox" id="category[]" name="category[]" class="catCheckbox" value="cat3">
			        4 <input type="checkbox" id="category[]" name="category[]" class="catCheckbox" value="cat4">
			  <td><div id="error_category"></div>
      </div>
           </td>
        </tr>
        <tr>
            <td>Packaging:</td>
            <td>
                None <input name="packaging" id="packaging" type="radio" class="packaging" value="none" checked>
				        Boxed <input name="packaging" id="packaging" type="radio" class="packaging" value="boxed">
				        Bagged <input name="packaging" id="packaging" type="radio" class="packaging" value="bagged">
            </td>
        </tr>
        <tr>
          <td> </td>
        </tr>
        <td>Community: </td>
        <td id="error_commnity">
          <select id="commnity">
          <option>Select community</option>
        </select>
        <div ></div>
      </td>
        <tr>
          <td> </td>
        </tr>
        <tr>
            <td>Province: </td>
			  <td id="error_province">
			    <select id="province">
				</select>
				<div></div>
			</td>
        </tr>
        <tr>
          <td> </td>
        </tr>
        <tr>
            <td>City: </td>
			  <td id="error_city">
			    <select name="city" id="city">
				</select>
				<div></div>
			</td>
        <tr>
           <td>Description: </td>
           <td id="error_proddesc"><textarea rows="4" cols="50" name="proddesc" id="proddesc" placeholder="Product description"
             value=""></textarea>
             <div></div>
           </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <div class="form-group" id="progress">
            <div id="bar"></div>
            <div id="percent">0%</div>
            </div>

            <div class="msg"></div>
            <br/>
            <div id="dropzone" class="dropzone"></div><br/>
          </td>
        </tr>
    </table>
    <br/>
    <button type="button" name="submit_products" id="submit_products" value="submit">
      Submit product
    </button>
</form>
<br>
<br>
<br>
<br>
<br>
