<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>login.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>

<div id="lhome">
    <div id="login">
        <h2>Login</h2>

        <form method="post" autocomplete="on" name="formlogin" id="formlogin">
            <table border='0'>
                <tr>
                    <td>

                        <input type="text" id="usuario" name="usuario" placeholder="usuario"/>
                    </td>
                </tr>
                <tr>
                    <td>

                        <input type="password" id="passw" name="passw" placeholder="*****" value=""/>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>

            <input name="loginb" class="Button_gray_login" id="loginb" type="button" value="Login";/>
            <a class="Button_gray_login" href="<?php amigable('?module=login&function=register');?>">Registrarse</a>  
            <a class="Button_gray_login" href="<?php amigable('?module=home&function=home');?>">Volver</a>
            <a id="lrecover" class="Button_gray_login" href="<?php amigable('?module=login&function=recover_list');?>">Recover Pass</a>
        </form>
        <div class="social">
            <ul class="icons log">
                <tr>
                    <a class="fa fa-facebook" id="fblogin"><span class="label">Facebook</span></a>
                </tr>

                <tr>
                    <a class="fa fa-twitter" id="twlogin"><span class="label">Twitter</span></a>
                </tr>
                <tr>
                    <a class="fa fa-google-plus-square" id="glogin"><span class="label">Google</span></a>
                </tr>
            </ul>
        </div> 
    </div>
</div>