<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<!--End of dropzone scripts-->
<script type="text/javascript" src="<?php echo PRODUCTS_JS_PATH ?>controller_products.js"></script>
<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>profile.js"></script>
<br>
<br>
<br>
<br>
<br>
<p><h2>Profile:</h2></p>
 <div class="status alert alert-success" style="display: none"></div>
<form name="form_user_profile" id="form_user_profile">
    <br>
    <table>
        <tr>
           <td>Name: </td>
           <td id="error_name"><input type="text" name="name" id="name" required="required" placeholder="Name"
             value=""/>
             <div></div>
           </td>
        </tr>
        <tr>
           <td>Lastname: </td>
           <td id="error_lastname"><input type="text" name="lastname" id="lastname" required="required" placeholder="Lastname"
            value=""/>
            <div ></div>
           </td>

        </tr>
        <tr>
           <td>DNI: </td>
           <td id="error_dni"><input type="text" name="dni" id="dni" required="required" placeholder="DNI"
            value=""/>
            <div ></div>
          </td>
        </tr>
        <tr>
		<tr>
		   <td>Date birthday: </td>
		   <td id="error_date_birthday"><input type="text" name="date_birthday" id="date_birthday" placeholder="Expiration date" readonly="readonly"
         value=""/>
         <div ></div>
       </td>

		</tr>
        <td>Community: </td>
        <td id="error_commnity">
          <select id="commnity">
          <option>Select community</option>
        </select>
        <div ></div>
      </td>
        <tr>
          <td> </td>
        </tr>
        <tr>
            <td>Province: </td>
			  <td id="error_province">
			    <select id="province">
				</select>
				<div></div>
			</td>
        </tr>
        <tr>
          <td> </td>
        </tr>
        <tr>
            <td>City: </td>
			  <td id="error_city">
			    <select name="city" id="city">
				</select>
				<div></div>
			</td>
        <tr>
          <td>
            Avatar:
          </td>
          <td>
            <div class="form-group" id="progress">
            <div id="bar"></div>
            <div id="percent">0%</div>
            </div>

            <div class="msg"></div>
            <br/>
            <div id="dropzone" class="dropzone"></div><br/>
          </td>
        </tr>
    </table>
    <br/>
    <button type="button" name="update_products" id="update_products" value="submit">
      Submit
    </button>
</form>
<br>
<br>
<br>
<br>
<br>
