<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>recover_pass.js"></script>

<div id="lhome">
    <div id="login">
        <h2>Recover</h2>

        <form method="post" autocomplete="on" name="recoverpassform" id="recoverpassform">
            <table border='0'>
                <tr>
                    <td>

                        <input type="password" id="passw" name="passw" placeholder="*****" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>

                        <input type="password" id="passw1" name="passw1" placeholder="*****" value=""/>
                    </td>
                </tr>
            </table>

            <input name="recoverpassb" class="Button_gray_register" id="recoverpassb" type="button" value="Recover";/>
            <a class="Button_gray_register" href="<?php amigable('?module=login&function=login');?>">Volver</a>
        </form>
    </div>
</div>