<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>recover.js"></script>

<div id="lhome">
    <div id="login">
        <h2>Recover</h2>

        <form method="post" autocomplete="on" name="recoverform" id="recoverform">
            <table border='0'>
                <tr>
                    <td>
                        <input type="text" id="email" name="email" placeholder="email"/>
                    </td>
                </tr>
            </table>

            <input name="recoverb" class="Button_gray_register" id="recoverb" type="button" value="Recover";/>
            <a class="Button_gray_register" href="<?php amigable('?module=login&function=login');?>">Volver</a>
        </form>
    </div>
</div>