<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>register.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>

<div id="lhome">
    <div id="register">
        <h2>Register</h2>

        <form method="post" autocomplete="on" name="register_user" id="register_user">
            <table border='0'>
                <tr>
                    <td>
                        <h4>Nombre Usuario</h4>
                        <input type="text" id="rusuario" name="rusuario" placeholder="nombre/usuario" value=""/>
                    </td>
                    
                </tr>

                <tr>
                    <td>
                        <h4>Introduce email</h4>
                        <input type="text" id="remail" name="remail" placeholder="email@gmail.com" value=""/>
                    </td>
                    
                </tr>

                <tr>
                    <td>
                        <h4>Contraseña</h4>
                        <input type="password" id="passw1" name="passw1" placeholder="*****" value=""/>
                    </td>

                </tr>
            </table>
            <input name="registerb" class="Button_gray_register" id="registerb" type="button" value="Register";/>
            <a class="Button_gray_register" href="<?php amigable('?module=login&function=login');?>">Volver</a>
        </form>
    </div>
</div>