<script type="text/javascript" src="<?php echo MAIN_JS_PATH ?>/jquery.bootpag.min.js"></script>

<script type="text/javascript" src="<?php echo MAIN_JS_PATH ?>home_list.js"></script>

<div id="hlbody">

    <div id="hlaentry">
		<input id="lentry"></input>
    </div>

    <center id="hlresults">

    </center>
    <div id="selection-page"></div>
</div>

<section id="modal">
    <div id="details_prod" hidden>
        <div id="details">
            <div id="img_prod" class="prodImg"></div> 
            <div id="container">
                <h4> <strong><div id="name_prod"></div></strong> </h4>
                <br />
                <p>
                <div id="description_prod"></div>
                </p><br/>
                <p>
                <div id="date_reception"></div>
                </p>
                <p>
                <div id="date_expiration"></div>
                </p>
                <h2> <strong><div id="price_prod"></div></strong> </h2>
                <h2> <strong><div id="lcity"></div></strong></h2>   
            </div>
        </div>
    </div>
</section>

<div id="maps">
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt2RNupRc3qa9I01hiGvexYsHFfkQL3QI&callback=myMap"></script>
</div>