<script type="text/javascript" src="<?php echo MAIN_JS_PATH ?>home.js"></script>
<section id="home" class="text-center">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="<?php echo IMG_PATH ?>1.jpg" alt="" />
                    <div class="carousel-caption" >
                        <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="<?php echo IMG_PATH ?>2.jpg" alt="" />
                    <div class="carousel-caption ">
                        <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="<?php echo IMG_PATH ?>3.jpg" alt="" />
                    <div class="carousel-caption ">
                        <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
            </ol>
        </div>
</section>
<div id="homebody">
  <div id="haentry">
    <input id="entry"></input>
    <button id="hbutton">Search</button>
  </div>

  <div id="hcategory">
  </div>

  <div>
    <button id="hlmbutton"><span class="fa fa-plus not-loading"></span>
</button>
    <p>Load More</p>
  </div>
</div>